<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="favicon1.ico" />
  <link href="/css/output.css" rel="stylesheet" />
  <title>PROJECT TEAM 6</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

  <!-- DaisyUI-->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/home.css" rel="stylesheet" type="text/css" />
  <link href="/css/profile.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Header -->
  {{> header}}

  <!-- Main Here -->
  <div class="p-8 w-[100vw]">
    <div class="flex flex-col">
      <div class="flex flex-row">


        <!--Slide menu-->
        <div>
          <div class="flex flex-row w-full mb-4">
            <div class="flex flex-col w-full">
              <div class="py-1 px-6 rounded-xl font-bold space-x pe-4 bg-red-200 text-red-800">
                <p class="text-center">La Birthday</p>
              </div>

              <div class="flex flex-col pt-2 text-red-800">
                <div class="flex flex-row">
                  <div class="font-semibold bg-red-100 w-[15%] text-center mr-2 rounded-md">
                    <div class="m-1">
                      Hôm Nay
                    </div>
                  </div>
                  <p class="flex items-center">
                    {{#if now}}
                    {{userData.now.fullname}} / {{userData.now.dept.name}} / {{userData.now.dob}} 
                      {{#if userData.now.count}}
                      + {{userData.now.count}} Other
                      {{/if}}
                    {{else}}
                    Hôm nay ko có ai :(
                    {{/if}}
                  </p>
                </div>

                <div class="mt-1"></div>

                <div class="flex flex-row">
                  <div class="font-semibold bg-red-100 w-[15%] text-center mr-2 rounded-md">
                    <div class="m-1">
                      Upcoming
                    </div>
                  </div>
                  <p class="flex items-center"> 
                    {{#if now}}
                    {{userData.close.fullname}} / {{userData.close.dept.name}} / {{userData.close.dob}} 
                      {{#if userData.close.count}}
                      + {{userData.close.count}} Other
                      {{/if}}
                    {{else}}
                    2 tuần nữa ko có ai :(
                    {{/if}}
                </div>
              </div>
            </div>

            <div class="mx-2"></div>

            <div class="flex flex-row w-full">
              <div class="flex flex-col w-full">
                <div class="py-1 px-6 rounded-xl font-bold space-x pe-4 bg-red-200 text-red-800">
                  <p class="text-center">Thành Viên</p>
                </div>
                <div class="text-red-800 pt-2 flex flex-row">

                  <div class="w-full flex flex-col bg-red-100 rounded-xl">
                    <div class="m-2 px-2">
                      <p class="font-semibold"> Tổng người dùng: </p>
                      <p> {{userData.mem.total}} </p>
                    </div>
                  </div>

                  <div class="mx-1"></div>

                  <div class="w-full flex flex-col bg-red-100 rounded-xl">
                    <div class="m-2 px-2">
                      <div class="flex flex-row">
                        <p class="font-semibold mr-2"> Chuyên Môn: </p>
                        <p> {{userData.mem.cm}} </p>
                      </div>

                      <div class="my-1"></div>

                      <div class="flex flex-row">
                        <p class="font-semibold mr-2"> Truyền Thông: </p>
                        <p> {{userData.mem.tt}} </p>
                      </div>
                    </div>

                  </div>

                  <div class="mx-1"></div>


                  <div class="w-full flex flex-col bg-red-100 rounded-xl">
                    <div class="m-2 px-2">
                      <div class="flex flex-row">
                        <p class="font-semibold mr-2"> Đối Ngoại: </p>
                        <p> {{userData.mem.dn}} </p>
                      </div>

                      <div class="my-1"></div>

                      <div class="flex flex-row">
                        <p class="font-semibold mr-2"> Nội Dung: </p>
                        <p> {{userData.mem.nd}} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            {{#each images}}
            <div class="mySlides fade" data-index="{{@index}}">
              <a href="{{href}}">
                <img class="w-[100%]" src="{{src}}" alt="{{alt}}" />
              </a>
            </div>
            {{/each}}

            <br>

            <div style="position: flex; text-align: center;">
              {{#each images}}
              <span class="dot" data-index="{{@index}}"></span>
              {{/each}}
            </div>
          </div>
          <!--Club's infor-->

        </div>

        <div class="mx-2"></div>

        <div class="flex flex-col">
          <div class="flex flex-col">
            <div class="py-1 px-6 rounded-xl font-bold space-x pe-4 bg-red-200 text-red-800">
              <p class="" style="text-align: center;">CONTACT</p>
            </div>
            <div class="text-red-800 py-4">
              <div>
                <div class="flex flex-row py-1 space-x pe-4">
                  <p class="material-icons" style="margin-right: 10px;"> person </p>
                  <div class="flex flex-col">
                    <p>{{userData.topDog.fullname}}</p>
                    <p>- {{userData.topDog.role.name}} -</p>
                  </div>
                </div>

                <div class="flex flex-row py-1 space-x pe-4">
                  <p class="material-icons" style="margin-right: 10px;"> mail </p>
                  <p>{{userData.topDog.mail}}</p>
                </div>
              </div>

              <br>

              <div class="">
                <div class="flex flex-row py-1 space-x pe-4">
                  <p class="material-icons" style="margin-right: 10px;"> person </p>
                  <div class="flex flex-col">
                    <p>{{userData.secDog.fullname}}</p>
                    <p>- {{userData.secDog.role.name}} -</p>
                  </div>
                </div>
                <div class="flex flex-row py-1 space-x pe-4">
                  <p class="material-icons" style="margin-right: 10px;"> mail </p>
                  <p>{{userData.secDog.mail}}</p>
                </div>
              </div>

            </div>
          </div>

          <div class="mt-2 flex flex-col">
            <div class="py-1 px-6 rounded-xl font-bold space-x pe-4 bg-red-200 text-red-800">
              <p class="" style="text-align: center;">ABOUT US</p>
            </div>
            <div class="text-red-800 py-4 flex flex-row">
              <p class="material-icons" style="margin-right: 10px;">map</p>
              <p>Đại học FPT, Khu CNC Hòa Lạc, Hòa Lạc, Hà Nội</p>
            </div>

            <div class="text-red-800 py-4 flex flex-row">
              <p class="material-icons" style="margin-right: 10px;">mail</p>
              <p>js.club@gmail.com</p>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>

<script src="/js/slides.js"></script>
<script src="/js/profile.js"></script>

</html>