<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="favicon1.ico" />
  <title>PROJECT TEAM 6</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

  <!-- DaisyUI-->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="/css/total.css" rel="stylesheet" type="text/css"/>

  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/home.css" rel="stylesheet" type="text/css" />
  <link href="/css/profile.css" rel="stylesheet" type="text/css" />
</head>



<script>
  function showProfile() {
    var profile = document.querySelector(".profile");

    if (profile.style.display != "block") {
      profile.style.display = "block";
      profile.classList.add("slide-left");
    } else {
      profile.style.display = "none";
    }
  }
</script>

<script>
  function showNotification() {
    var profile = document.querySelector(".notification");

    if (profile.style.display != "block") {
      profile.style.display = "block";
      profile.classList.add("slide-left");
    } else {
      profile.style.display = "none";
    }
  }
</script>

<body class="overflow-x-hidden">
  {{> header}}

  <div class="my-12">
    <div class="flex flex-row justify-between w-full px-16">
        <div  class="flex flex-row gap-4">
          <label  class="input border bg-white border-[#ad0214] rounded-2xl flex items-center gap-2 h-12 w-96">
            <span class="material-icons" aria-hidden="true" style="color: #ad0214; margin: 0 0.5em;">
              search
            </span>
            <input id="searchInput" type="text" class="grow w-full" placeholder="Search" style="color: #ad0214;" />
          </label>
        </div>
      
        <div class="flex flex-row gap-2">
          <button id="deleteButton" class="btn rounded-lg menu-button flex material-icons" style="width: 45px">
            delete
          </button>
          <button class="btn rounded-lg menu-button flex material-icons"
            style="width: 45px;">
            <a href="/updateInsert?id=new">add</a>
          </button>
        </div>
    </div>

    <div id="table" class="bg-red-50 rounded-3xl mx-16 my-4 h-[65vh] p-4">
      <div class="grid grid-cols-[100px_repeat(13,minmax(0,1fr))_100px] text-center font-bold text-[#ad0214] gap-2 p-4">
        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-1 flex flex-row justify-center items-center">STT</div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-2 flex flex-row justify-center items-center">
          MSSV
          <div class="dropdown dropdown-hover">
            <div tabindex="0" class="m-1 flex material-icons">
              arrow_drop_down
            </div>
            <ul
              tabindex="0"
              class="dropdown-content z-[1] menu shadow bg-[#ffedee] rounded-lg w-16"
            >
              <li class="click rounded-lg"><a id="rollno_all">All</a></li>
              <li class="click rounded-lg"><a id="rollno_ha">HA</a></li>
              <li class="click rounded-lg"><a id="rollno_he">HE</a></li>
              <li class="click rounded-lg"><a id="rollno_hs">HS</a></li>
            </ul>
          </div>
        </div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-3 flex flex-row justify-center items-center">
          Họ Tên
          <div class="dropdown dropdown-hover">
            <div tabindex="0" class="flex flex-row material-icons">
              arrow_drop_down

            </div>
            <ul
              tabindex="0"
              class="dropdown-content z-[1] w-20 menu shadow bg-[#ffedee] rounded-lg"
            >
              <li class="click rounded-lg"><a id="fullname_no">No Sort</a></li>
              <li class="click rounded-lg"><a id="fullname_asc">A - Z</a></li>
              <li class="click rounded-lg"><a id="fullname_desc">Z - A</a></li>
            </ul>
          </div>
        </div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-2 flex flex-row justify-center items-center">
          Ban
          <div class="dropdown dropdown-hover">
            <div tabindex="0" class="m-1 flex material-icons">
              arrow_drop_down
            </div>
            <ul tabindex="0" class="dropdown-content z-[1] menu shadow bg-[#ffedee] rounded-lg w-44">
              <li class="click rounded-lg"><a id="dept_all">All</a></li>
              <li class="click rounded-lg"><a id="dept_cm">Chuyên môn</a></li>
              <li class="click rounded-lg"><a id="dept_tt">Truyền thông</a></li>
              <li class="click rounded-lg"><a id="dept_vh">Văn hóa</a></li>
              <li class="click rounded-lg"><a id="dept_dn">Đối ngoại</a></li>
              <li class="click rounded-lg"><a id="dept_nd">Nội dung</a></li>
            </ul>
          </div>
        </div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-2 flex flex-row justify-center items-center">
          Vai Trò
          <div class="dropdown dropdown-hover">
            <div tabindex="0" class="m-1 flex material-icons">
              arrow_drop_down
            </div>
            <ul tabindex="0" class="dropdown-content z-[1] menu shadow bg-[#ffedee] rounded-lg w-44">
              <li class="click rounded-lg"><a id="role_all">All</a></li>
              <li class="click rounded-lg"><a id="role_cn">Chủ nhiệm</a></li>
              <li class="click rounded-lg"><a id="role_pcn">Phó chủ nhiệm</a></li>
              <li class="click rounded-lg"><a id="role_tb">Trưởng ban</a></li>
              <li class="click rounded-lg"><a id="role_tv">Thành viên</a></li>
              <li class="click rounded-lg"><a id="role_ctv">Cộng tác viên</a></li>
            </ul>
          </div>
        </div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-3 flex flex-row justify-center items-center">Mail</div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-1 flex flex-row justify-center items-center">
          Gen
          <div class="dropdown dropdown-hover">
            <div tabindex="0" class="flex flex-row material-icons">
              arrow_drop_down
            </div>
            <ul
              tabindex="0"
              class="dropdown-content z-[1] w-28 menu shadow bg-[#ffedee] rounded-lg"
            >
              <li class="click rounded-lg"><a id="gen_no">No Sort</a></li>
              <li class="click rounded-lg material-icons"><a id="gen_asc">keyboard_double_arrow_up</a></li>
              <li class="click rounded-lg material-icons"><a id="gen_desc">keyboard_double_arrow_down</a></li>
            </ul>
          </div>
        </div>

        <div class="bg-red-200 py-2 px-4 rounded-xl col-span-1 flex flex-row justify-center items-center">Edit</div>
      </div>
      <div id="showList" class="flex flex-col overflow-y-auto h-[85%] pl-4">
        {{#each memList as |m|}}
        <div class="grid grid-cols-[100px_repeat(13,minmax(0,1fr))_100px] text-center font-bold text-[#ad0214] py-2 gap-2">
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-1">{{@index}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-2">{{toUpperCase m.rollno}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-3">{{m.fullname}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-2">{{m.dept.name}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-2">{{m.role.name}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-3">{{m.mail}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-1">{{m.gen}}</div>
          <div class="bg-red-100 py-2 px-4 rounded-xl col-span-1 flex flex-row justify-between">
            <input type="checkbox" id="editCheckbox" value="{{m.rollno}}">
            <a href="/updateInsert?id={{m.rollno}}" class="flex material-icons">
              edit
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</body>


<script src="/js/infor.js"></script>
<script src="/js/profile.js"></script>
</html>