<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="favicon1.ico" />
  <title>PROJECT TEAM 6</title>

  <!-- Font Import -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <!-- DaisyUI -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/home.css" rel="stylesheet" type="text/css" />
  <link href="/css/profile.css" rel="stylesheet" type="text/css" />
</head>

<body>
  {{> header}}
  <!-- Main Display-->

  <div class="flex flex-row items-start space-x-16 ms-28">
    <!--avatar-->
    <div class="flex flex-col">
      <div class="border border-red-800 w-48 rounded-full shadow-md p-7 mt-36">
        <img
          src="https://cdn.ketnoibongda.vn/upload/images/12022330-845928092188375-8890160160420757664-o-2021-06-07.png"
          alt="JS Club" />
      </div>
    </div>
    <div class="flex flex-col w-full">
      <span class="text-3xl text-red-800 font-bold mt-16 ms-56">
        {{ user.username }}'s Profile</span>

      <!--Information-->
      <div
        class="flex flex-row items-center justify-evenly rounded-2xl bg-red-50 h-80 mt-8 me-24 place-content-center p-4">
        <div class="flex flex-row h-full">
          <div class="flex flex-col justify-evenly w-36 text-center text-white">
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Ban</div>
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Vai trò</div>
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Gmail</div>
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Địa chỉ</div>
          </div>

          <div class="ml-8 flex flex-col justify-evenly text-red-800">
            <div class="flex items-center font-semibold my-2">{{user.dept.name}}</div>
            <div class="flex items-center font-semibold my-2">{{user.role.name}}</div>
            <div class="flex items-center font-semibold my-2">{{user.mail}}</div>
            <div class="flex items-center font-semibold my-2 overflow-hidden">{{user.contact.address}}</div>
          </div>
        </div>

        <div class="flex flex-row h-full">
          <div class="flex flex-col justify-evenly w-36 text-center text-white">
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">MSSV</div>
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Ngày sinh</div>
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Liên hệ</div>
            <div class="font-bold bg-[#ad0214] rounded-xl py-2">Gen</div>
          </div>

          <div class="ml-8 flex flex-col justify-evenly text-red-800">
            <div class="flex items-center font-semibold my-2">{{toUpperCase user.rollno}}</div>
            <div class="flex items-center font-semibold my-2">{{date user.dob}}</div>
            <div class="flex items-center font-semibold my-2">{{user.contact.phone}}</div>
            <div class="flex items-center font-semibold my-2">{{user.gen}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Display-->
</body>

<script src="/js/profile.js"></script>
</html>